.wd-kanbas-navigation .wd-icon {
  font-size: 1.5em;
  color: #FF99CC;
}

.wd-kanbas-navigation .list-group-item:first-child,
.wd-kanbas-navigation .list-group-item:last-child,
.wd-kanbas-navigation .list-group-item.active:last-child,
.wd-kanbas-navigation.list-group {
  border-radius: 0px;
}

.wd-kanbas-navigation {
  background-color: #66CCCC;
  list-style: none;
  padding: 10px;
  width: 140px;
  height: 2000px;
  margin: 0px;
  
}

.wd-kanbas-navigation a {
  display: flex;  
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  background-color: #66CCCC;
  border: none;
}

.wd-kanbas-navigation a.active {
  background-color: #CCFF66;
}
.wd-kanbas-navigation a.active {
  color: #FF99CC;
}

.wd-kanbas-navigation a {
  color: #000000;
  text-decoration: none;
}

/* .wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
} */