.wd-kanbas-navigation .wd-icon {
  font-size: 2em;
  color: red;
}

.wd-kanbas-navigation .list-group-item:first-child,
.wd-kanbas-navigation .list-group-item:last-child,
.wd-kanbas-navigation .list-group-item.active:last-child,
.wd-kanbas-navigation.list-group {
  border-radius: 0px;
}

.wd-kanbas-navigation {
  background-color: #339933;
  list-style: none;
  padding: 10px;
  width: 140px;
  height: 2000px;
  margin: 0px;
  
}

.wd-kanbas-navigation a {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
  background-color: #339933;
  border: none;
}

.wd-kanbas-navigation a.active {
  background-color: #339933;
}
.wd-kanbas-navigation a.active {
  color: #FFFFFF;
}

.wd-kanbas-navigation a {
  color: #000000;
  text-decoration: none;
}

/* .wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
} */

